.headerText {
    font-size: 1.5rem;    /* Adjust as needed */
    color: #4295AF;          /* Adjust as needed */
    margin: 0;            /* Remove default margin */
    margin-top: 15rem;
    margin-right: 1rem;
    margin-left: 8rem;
    text-align: right;
    margin-bottom: 5rem;
 }
 
 
#about-header-img {
    max-width: 100%;       /* Adjust based on the desired size of your image */
    height: auto;         /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
 }
 