/* MENTORSHIP AND CAREER PREP */
.allContent{   
    display: flex;
    background-color: #F0F4EA;
    padding: 60px 80px 40px 80px;
    align-items: center;
}

.title-and-description {
    align-items: flex-start;
    font-size: medium;
    padding-right: 0px;
}

.mentorship-description {
    width: 50vw;
}

.mentorship-title {
    font-size: 50px;
}

.mentorship-image {
    width: 35%;
    flex-direction: column;
    padding-left: 7rem;

}

.mentorship-title {
    display: flex;
    color: #4296AF;
    font-size: 20px;
    
}

.allContent p{
    max-width: 90%;
}

/* PROJECTS AND COMMUNITY SERVICE */

.projects-content{
    display: flex;
    background-color: #F0F4EA;
    padding: 60px 0px 40px 80px;
    align-items: center;
}

.projects-title{
    color: #4296AF;
    text-align: left;
    font-size: 20px;
}

.projects-image{
    width: 35%;
    padding-right: 6rem;
}

.projects-description{
    padding-right: 3rem;
    width: 50vw;
}

/* COMMUNITY */
.community-content{
    display: flex;
    background-color: #F0F4EA;
    padding: 40px 80px 60px 80px;
    align-items: center;
}

.community-title {
display: flex;
color:#4296AF;
}

.community-descrip {
    padding-right: 7rem;
    width: 50vw;
}

.community-image {
    max-width: 35%;
}