@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');

* {
  font-family: 'Plus Jakarta Sans', sans-serif;
}

.body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px; /* Adjust the gap as needed */
  background-color: #DDE9ED;
  padding: 100px;
}

.image-container img {
    width: 400px; /* Set the width of the image */
    height: auto; /* Set the height to auto to maintain aspect ratio */
    /* Alternatively, you can use height: 200px; or any other value if you want a specific height. */
  }

.content-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Aligns the content to the left */
}

.content-container p {
  margin-bottom: 20px; /* Adjust the space between paragraph and button */
}

button {
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  background-color: #4295AF;
  color: white;
  border: none;
  border-radius: 10px;
}

.body-container p {
    padding-bottom: 15px;
}

/* VALUES SECTION STYLING */
.values-section {
  width: 100%;
  min-height: 40vh;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

#values_underline {
  border: 0.5px solid rgba(217, 217, 217);
  height: 0;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 2rem;
}

.values-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
}

.values-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 25%;
}

.values-section h2, h3 {
  color: #4295AF;
}

.values-section h2{
  padding-left: 3rem;
  text-align: left;
}

.values-section p, h3 {
  text-align: center;
  margin-top: 0;
}

.values-section p {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #303030;
}

.values-block .values-img-container {
  min-height: 10rem;
  width: 100%;
}


/* JOIN BANNER STYLING */
.join-section {
  min-height: 10vh;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.join-container {
  background-color: #FAF7DF;
  border: 5px solid #FBEA71;
  border-radius: 20px;
  margin-left: 3rem;
  margin-right: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.join-text {
  margin: 2rem 0 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: center;
}

.join-text * {
  margin: 0.5rem 0 0.5rem 0;
}

.join-container button {
  height: 3rem;
  font-weight: bold;
}
