/* .footer-navigation,
.logo-container,
.footer-container {
  border: 2px solid black;
} */

.footer-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100vw;
    background-color: #eee;
    padding-top: 2rem;
}

.footer-navigation {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

.logo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.footer-navigation,
.logo-container {
    width: 50%;
    height: inherit;
}

.footer-container a, p {
  text-decoration: none;
  color: #303030;
  text-align: left;
}

.footer-contact,
.footer-pages {
    display: flex;
    flex-direction: column;
    margin-left: 4rem;
}


.logo-midsection {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo-midsection * {
    margin: 0;
    padding: 0;
    width: 90%;
}

.logo-midsection img {
    height: 4rem;
}
