.header {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background-color: #FAFAFA; /* Example background color */
    color: #ffffff; /* Example text color */
}

.header-navbar {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.header img {
    max-width: 150px;
}

.header-navbar nav {
    display: flex;
    justify-content: end;
    width: 100%;
}

.header-navbar ul {
    display: flex;       /* This will arrange list items horizontally */
    align-items: center;
    list-style: none;    /* This will remove default bullet points */
    padding: 0;          /* Remove default padding */
    margin: 0;           /* Remove default margin */
}

.header-navbar li {
    margin: 0 15px;      /* Add horizontal spacing between list items */
}

.header-navbar a {
    text-decoration: none;
    color: #000;
}

#signup-link {
    display: inline-block; /* Allows padding and margins to affect the element properly */
    padding: 12px 20px; /* Adds some space around the text inside the rectangle */
    border-radius: 10px; /* Rounds the corners */
    background-color: #4295AF; /* Ensures that there's no background color; adjust if you want one */
    color: #fff;
    transition: background-color 0.3s, color 0.3s; /* Smooth transition for hover effects */
}

#signup-link:hover {
    background-color: #2F6A7D; /* Optional: Change background color on hover */
}