.home-hero {
    display: flex;
    position: relative;
    height: 45rem;
    max-width: 80rem;
    margin: 0 auto;
    padding: 0 2rem;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

.home-hero-text {
    display: flex;
    height: 43.125rem;
    overflow: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: stretch;
    gap: 1.25rem;
}

.home-hero-text h2 {
    width: 30.5625rem;
    color: #4295af;
    font-family: Plus Jakarta Sans;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}

.home-hero-text h1 {
    width: 30.5625rem;
    color: #303030;
    font-family: Plus Jakarta Sans;
    font-size: 4.25rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin: 0;
}

.hero-image img {
    position: absolute;
    top: 0;
    right: 2rem;
    height: 100%;
    z-index: 0;
}
