.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.hero-text {
    margin-left: 3rem;
}

.hero-text h2 {
    font-size: 36px;    /* Adjust as needed */
    font-weight: lighter;
    color: #4295AF;          /* Adjust as needed */
    margin: 0;            /* Remove default margin */
    text-align: left;
}

.hero-text h1 {
    font-size: 68px;    /* Adjust as needed */
    font-weight: bold;
    color: #4295AF;          /* Adjust as needed */
    margin: 0;            /* Remove default margin */
    text-align: left;
}

.hero-image img {
    max-width: 70%;       /* Adjust based on the desired size of your image */
    height: auto;        /* Maintain aspect ratio */
}
