.hero-section {
    position: relative;
    height: 45rem;
}

#join-hero-image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}

.hero-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px; /* Adjust width as needed */
    margin: 0 auto;
}

.hero-image-membership {
    flex-basis: 60%;
    background-size: cover; /* Adjust size as needed */
}

.hero-text {
    flex-basis: 50%;
    padding-left: 50px; /* Adjust padding as needed */
}

.hero-text h1 {
    margin-bottom: 20px; /* Adjust spacing as needed */
    font-size: 1.5rem;
}

.hero-text p {
    margin-bottom: 10px; /* Adjust spacing as needed */
    color: #4295af;
}

.interest-button {
    padding: 10px 20px; /* Adjust padding as needed */
    background-color: #4295af; /* Your button color */
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.interest-button:hover {
    background-color: #003459; /* Darker shade for hover effect */
}

/* BENEFITS SECTION STYLING */
.membership-coloring {
    color: #4296af;
}

.benefits-section {
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 100%;
    background-color: #dde9ed;
    padding: 3rem 0 2rem 0;
}

.benefits-text {
    width: 60%;
    padding: 1rem;
}

.benefits-text h1 {
    margin-left: 1rem;
}

.benefits-text ul {
    width: 80%;
}

.benefits-image {
    width: 40%;
    padding-right: 2rem;
}

.benefits-image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.benefits-image-container img {
    width: 100%;
    border-radius: 10px;
    margin-top: 1rem;
}

/* CALENDAR SECTION STYLING */
.calendar-section {
    display: inline-block;
    height: 80vh;
    width: 100%;
    background-color: #fff;
    padding: 1rem 0 2rem 0;
}

.calendar-section h1 {
    margin-left: 2rem;
}

.calendar-section .calendar {
    margin-left: 2rem;
    height: 60vh;
    width: 95%;
    background-color: #f00;
}
