.headerText {
    color: #4295AF;
    margin-top: 200px;
    text-align: left;
    margin-bottom: 24px;
    margin-left: 800px;
    margin-right: 42px;
 }
 
 
#membership-header-img {
    max-width: 100%;       /* Adjust based on the desired size of your image */
    height: auto;         /* Maintain aspect ratio */
    position: absolute;
    top: 0;
    left: 0;
 }
 
.membership-header {
    height: 60vh;
}

.headerh1 {
    font-size: 32px;
}